fastapi
uvicorn
groq
python-dotenv
pydantic
langchain 
faiss-cpu 
sentence-transformers 
langchain-community 
langchain-text-splitters
pypdf
langchain 
langchain-community
redis
sqlalchemy
psycopg2-binary
prometheus-fastapi-instrumentator
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi
alembic